<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="/css/style.css" rel="stylesheet">
    <title>Tech Blog</title>
</head>
<body>
    <div class="flex-column justify-space-around">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <a class="btn btn-primary" href="/" role="button">Homepage</a>
            <nav>
                {{#if loggedIn}}
                <!-- might need to update these refs to the correct place -->
                <a class="btn btn-primary" href="/profile" role="button">Profile</a>
                <button class="btn btn-primary" id="logout">Logout</button>
                {{else}}
                <a class="btn btn-primary" href="/login" role="button">Login</a>
                {{/if}}
            </nav>
        </header>
    <main>
        {{{body}}}
    </main>
    <footer>
        
    </footer>
    </div>
    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>
</html>