<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
</head>
<body>
    <header>
        <h1>Header</h1>
        <nav>
            {{#if loggedIn}}
            <!-- might need to update these refs to the correct place -->
            <a href="/profile">Profile</a>
            <button>Logout</button>
            {{else}}
            <a href="/login">Login</a>
            {{/if}}
        </nav>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer>
        
    </footer>
</body>
</html>