<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{description}}</p>
  <p>Created by {{user.name}}</p>
  {{#each comments as |comment|}}
    <div>
      <p>{{comment.description}}</p>
    </div>
    {{/each}}
<div class="row align-items-center">
    <div class="row align-items-center">
        <h3>Create a new Comment:</h3>

        <form class="form new-comment-form">
            <div class="form-group row align-items-center">
                <input class="form-input" type="text" id="comment-post" name="comment-post" />
            </div>
            <div class="form-group row align-items-center">
                <button type="submit" class="btn btn-primary">Add Comment</button>
            </div>
        </form>
    </div>
</div>
</div>

<script src="/js/blog.js"></script>