<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{description}}</p>
  <p>Created by {{user.name}}</p>
  {{#each comments as |comment|}}
    <div>
      <p>{{comment.description}}</p>
    </div>
    {{/each}}
    <button class="btn btn-primary">Comment on this post!</button>
</div>
