body {
    background-color: #a0d2eb;
}

div {
    padding: 10px;
}

.no-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #1b89bc;
    text-decoration: none;
    font-size: 100%;
}

.no-button:hover {
    color: #065b83;
    text-decoration: underline;
}